.features{
    display: flex;
    margin: 100px 150px;
}
.features-info{
    margin-left: 200px;
}
.features-info h2{
    color: #0B132A;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
.features-info p{
    color: #4F5665;
    margin: 20px 0;
    font-size: 17px;
    line-height: 30px;
}
.pluses{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.pluses span{
    color: #4F5665;
    margin-left: 10px;
}