.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.header-links a{
    margin-right: 30px;
    color: #4F5665;
}
.header-button span{
    font-weight: 700;
    margin-right: 20px;
}
.header-button button{
    border: 1px solid #F53855;
    border-radius: 15px;
    color: #F53855;
    font-weight: 700;
    background-color: white;
    width: 100px;
}